*{
    font-family: 'Baloo Chettan 2', cursive;
}
.overflow-x-hidden{
    overflow-x: hidden !important;
}
.main-web{
    min-height: 80vh;
}
.header{
	background: transparent;
	padding: 10px 145px 10px 120px;
    position: fixed;
    top: 0;
	z-index: 999;
	width: 100%;
	display: block;
}
.nav-menu>.nav-link {
    flex: none;
    color: #000;
    font-weight: 400;
    font-size: 1.25rem;
    margin-right: 10px;
}
.nav-menu>.nav-link:hover {
    color: #ad17ba !important;
}
.img-fb-hover, .img-inst-hover{
    display: none;
    visibility: hidden;
}
.header-fb:hover > .header-img-fb,
.header-inst:hover > .header-img-inst{
    display: none;
    visibility: hidden;
}
.header-fb:hover > .img-fb-hover,
.header-inst:hover > .img-inst-hover{
    display: inline;
    visibility: visible;
}
.contenedor-rs-header{
    margin-left: 15px;
}
.img-logo{
    width: 230px;
}
.nav-link-activo{
    color: #ad17ba !important;
}
.nav-link-activo::after{
    border-radius: 5px;
    content: '';
    width: 30px;
    height: 3px;
    background-color: #ad17ba;
    display: block;
}


/*Footer*/
footer{
    padding: 50px 120px 30px !important;
    background-color: #313030;
}
#basic-addon2{
    background-color: #4747ba;
}
.footer-content-1{
    margin-bottom: 85px;
}
.footer-content-2{
}
.footer-content-2 p{
    color: white;
    margin-bottom: 0;
}
.footer-1{
    flex: none;
    margin-right: 80px;
}
.footer-1 a{
    margin-bottom: 5px;
}
.footer-sub-1{
    margin-right: 100px;
}
.footer-sub-1 h3,
.footer-sub-2 h3{
    color: white;
    font-size: 2rem;
    margin-bottom: 0;
    line-height: inherit;
}
.footer-sub-1 a,
.footer-sub-2 a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.footer-2{
    max-width: 600px;
}
.footer-2 p{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;
    margin-bottom: 25px;
}
.footer-2 .input-group{
    max-width: 315px;
}
.footer-2 .input-group-text{
    border: none;
}
.footer-sub-3{
    justify-content: end;
}


.section_general{
	position: relative;
}
.link-dev{
    padding-top: 10px;
}
.link-dev a {
    font-size: 0.8rem;
    color: #000;
    text-decoration: none;
}
.header-offcanvas{
    background-color: #fee1ff !important;
    border-right: 0;
}
.offcanvas-enlace{
    color: black;
    font-size: 2rem;
}
.offcanvas-enlace:hover{
    color: #ad17ba;
}
.offcanvas-enlace-activo{
    color: #ad17ba;
    font-weight: 500;
}
.off-canvas-contenedor-rs{
    margin-top: 10px;
}
.btn-abrir-menu{
    visibility: hidden;
    display: none;
    padding: 1px 10px;
}



@media (max-width: 1440px) {
    .header{
        padding-left: 80px;
        padding-right: 80px;
    }
    .header-1{
        position: relative;
        left: -25px;
    }
    footer{
        padding-left: 80px !important;
        padding-right: 80px !important;
    }
}

@media (max-width: 1200px) {
    .header{
        padding-left: 60px;
        padding-right: 60px;
    }
    .contenedor-rs-header{
        visibility: hidden;
        display: none;
    }
    .nav-menu .nav-link{
        font-size: 1.1rem;
    }
    footer{
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
    .footer-sub-1{
        margin-right: 60px;
    }
    .footer-1{
        margin-right: 60px;
    }
}

@media (max-width: 992px) {
    .nav-menu{
        visibility: hidden;
        display: none;
    }
    .btn-abrir-menu{
        visibility: visible;
        display: block;
    }
    .footer-1{
        margin-right: 0;
        margin-bottom: 50px;
        justify-content: center;
    }
    .footer-content-1{
        flex-direction: column;
    }
    .footer-2{
        max-width: none;
    }
    .footer-2 p{
        text-align: center;
    }
    .footer-2 .input-group{
        margin: auto;
    }
}

@media (max-width: 991px) {
    .footer-content-2 p{
        text-align: center;
    }
    .footer-sub-3{
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .header{
        padding-left: 30px;
        padding-right: 30px;
    }
    footer{
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .footer-1{
        flex: auto;
    }
}

@media (max-width: 600px) {
    .footer-1{
        flex-direction: column;
    }
    .footer-sub-1{
        margin-right: 0;
    }
    .footer-sub-1 h3,
    .footer-sub-2 h3{
        text-align: center;
    }
    .footer-sub-1>div, .footer-sub-2>div{
        align-items: center !important;
    }
}

@media (max-width: 425px) {
    .img-logo{
        width: 160px;
    }
    .footer-sub-1 h3, 
    .footer-sub-2 h3 {
        font-size: 1.5rem;
    }
    .footer-2 p{
        font-size: 1.5rem;
    }
    .footer-sub-1 a,
    .footer-sub-2 a{
        font-size: 1rem;
    }
}

@media (max-width: 375px) {
    .header{
        padding-left: 20px;
        padding-right: 20px;
    }
    footer{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}